In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('creditcard.csv')
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
dataset['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [4]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\lovekesh\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\lovekesh\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\lovekesh\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\lovekesh\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\lovekesh\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\lovekesh\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lovekesh\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)

In [5]:
import imblearn

In [6]:
# split the data into independent variable and dependent variable
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [7]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [8]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

# Under Sampling Method (not good approach to reduce the data)

In [9]:
from imblearn.under_sampling import RandomUnderSampler
under = RandomUnderSampler()
x_under, y_under = under.fit_resample(x,y)

In [10]:
print(y.value_counts())
print("=====================")
print(y_under.value_counts())

0    284315
1       492
Name: Class, dtype: int64
=====================
0    492
1    492
Name: Class, dtype: int64

In [11]:
print(x.shape, y.shape)

(284807, 30) (284807,)

In [12]:
print(x_under.shape, y_under.shape)

(984, 30) (984,)

In [13]:
# Note: Under sampling approach is not acceptable in industry.

# Oversampling Method

In [14]:
from imblearn.over_sampling import RandomOverSampler
over = RandomOverSampler()
x_over, y_over = over.fit_resample(x,y)

In [15]:
print(y_over.value_counts())
print(x_over.shape, y_over.shape)
print(x.shape,y.shape)

0    284315
1    284315
Name: Class, dtype: int64
(568630, 30) (568630,)
(284807, 30) (284807,)

In [16]:
# SMOTE - Synthetic Minority Oversampling Technique
from imblearn.over_sampling import SMOTE
smote = SMOTE()
x_smote, y_smote = smote.fit_resample(x,y)
print(y_smote.value_counts())

0    284315
1    284315
Name: Class, dtype: int64

In [17]:
# Near Miss - same like undersampling - pls don't use
from imblearn.under_sampling import NearMiss
nearmiss = NearMiss()
x_nm, y_nm = nearmiss.fit_resample(x,y)
print(y_nm.value_counts())

0    492
1    492
Name: Class, dtype: int64

## EDA - Exploratory Data Analytics

In [18]:
# pandas-profiling concept
# dataprep
# dtale
# lux

In [19]:
titanic = pd.read_csv("TitanicDataset.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
#!pip install pandas-profiling
#!pip install --upgrade pandas-profiling
!pip install pydantic-settings

Collecting pydantic-settings
  Downloading pydantic_settings-2.2.1-py3-none-any.whl (13 kB)
Requirement already satisfied: pydantic>=2.3.0 in c:\users\lovekesh\anaconda3\lib\site-packages (from pydantic-settings) (2.7.1)
Collecting python-dotenv>=0.21.0 (from pydantic-settings)
  Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\lovekesh\anaconda3\lib\site-packages (from pydantic>=2.3.0->pydantic-settings) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in c:\users\lovekesh\anaconda3\lib\site-packages (from pydantic>=2.3.0->pydantic-settings) (2.18.2)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\lovekesh\anaconda3\lib\site-packages (from pydantic>=2.3.0->pydantic-settings) (4.6.3)
Installing collected packages: python-dotenv, pydantic-settings
Successfully installed pydantic-settings-2.2.1 python-dotenv-1.0.1

In [31]:
from pydantic import BaseSettings
from pandas_profiling import ProfileReport
#report = ProfileReport(titanic)
#report.to_file(output_file='output.html')

PydanticImportError: `BaseSettings` has been moved to the `pydantic-settings` package. See https://docs.pydantic.dev/2.7/migration/#basesettings-has-moved-to-pydantic-settings for more details.

For further information visit https://errors.pydantic.dev/2.7/u/import-error